# Ignore virtual environment
venv/
bin/
lib/
pyvenv.cfg

# Ignore system files
.DS_Store

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and temp files
*.log
*.tmp

# Ignore output files
Output_xlsx/

.gitignore
.gitignore.save
.DS_Store
.idea


